:root {
  --text-color: #3D5151;
  --primary: #93C6D6;
  --secondary: #5E9397;
  --tertiary: #A7ACD9;
  --quartiary: #9E8FB2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat;
  background-color: var(--primary);

}
